@import '~bootstrap/scss/bootstrap';

$main-light-color: #eee7e1;
$main-dark-color: #27272a;

body {
    background-color: #ffff;
}
.title-font {
    font-family: 'Yeseva One', cursive;
}
.content-title-font {
    text-align: left;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 2px;
}
.content-font {
    text-align: left;
    font-size: 13px;
    font-weight: 400;
}
.main-light-color {
    color: $main-light-color;
}
.main-light-background {
    background-color: $main-light-color;
}
.main-dark-color {
    color: $main-dark-color;
}
.main-dark-background {
    background-color: $main-dark-color;
}
.page-growDown {
    transform: translate3d(0, 0, 0);
	animation: page-growDown 800ms cubic-bezier(1,-0.01,.82,1);
}
.page-growUp {
    transform: translate3d(0, 0, 0);
	animation: page-growUp 800ms cubic-bezier(1,-0.01,.82,1);
}
.dark-ele-growUp1 {
    transform: translate3d(0, 0, 0);
	animation: dark-ele-growUp 1.2s ease;
}
.dark-ele-growUp2 {
    transform: translate3d(0, 0, 0);
	animation: dark-ele-growUp 1.5s ease;
}
.light-ele-growUp1 {
    transform: translate3d(0, 0, 0);
    animation: light-ele-growUp 1.2s ease;
}
.light-ele-growUp2 {
    transform: translate3d(0, 0, 0);
    animation: light-ele-growUp 1.6s ease;
}
.page-fadeIn {
    transform: translate3d(0, 0, 0);
    // animation: fadeIn 2s ease-in;
    animation: fadeIn 1.2s cubic-bezier(1,-0.01,.82,1) 1 forwards;
}
.work-img {
    width: 100%;
}
a.main-dark-color {
    &:hover {
        color: $main-dark-color;
        text-decoration: none;
    }
}
a.main-light-color {
    &:hover {
        color: $main-light-color;
        text-decoration: none;
    }
}
@keyframes page-growUp {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes page-growDown {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate(0) ;
    }
}
@keyframes dark-ele-growUp {
    0% {
        transform: translate(0, -200%, 0);
        color: $main-light-color;
    }

    80% {
        transform: translate3d(0, 95%, 0);
        color: $main-light-color;
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeIn {
    0% {
      color: transparent;
    }
    60% {
      color: transparent;
      filter: blur(1.1vw) saturate(0%) contrast(2000%);
    }
    100% {
      color: $main-dark-color;
    }
}
@keyframes light-ele-growUp {
    0% {
        transform: translate(0, -200%, 0);
        color: $main-dark-color;
    }

    80% {
        transform: translate3d(0, 95%, 0);
        color: $main-dark-color;
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
  }

